/* تعریف فونت ایران سنس ایکس - معمولی (وزن Medium به عنوان پیش‌فرض) */
@font-face {
  font-family: 'IRANSansX';
  src: url('./assetes/fonts/IRANSansX-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* تعریف فونت ایران سنس ایکس - لایت (سبک) */
@font-face {
  font-family: 'IRANSansX';
  src: url('./assetes/fonts/IRANSansX-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* تعریف فونت ایران سنس ایکس - بولد (ضخیم) */
@font-face {
  font-family: 'IRANSansX';
  src: url('./assetes/fonts/IRANSansX-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* تعریف فونت ایران سنس ایکس - ریگولار */
@font-face {
  font-family: 'IRANSansX';
  src: url('./assetes/fonts/IRANSansX-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* اعمال فونت ایران سنس ایکس به کل پروژه */
body,
html,
button,
input,
select,
textarea {
  font-family: 'IRANSansX', sans-serif !important;
}

.calendar-large {
  transform: scale(0.9);
  transform-origin: top center;
}

@media (min-width: 640px) {
  .calendar-large {
    transform: scale(1.2);
  }
}

.task-day {
  background: #16a34a65 !important;
  color: white !important;
  border-radius: 50%;
}

.meeting-day {
  background: #16a34a65 !important;
  color: white !important;
  border-radius: 50%;
}

.holiday-day {
  background-color: #fee2e2;
  color: #b91c1c;
  border-radius: 8px;
}